$boardColor: #101204;
$taskColor: #B9C8F1;
$fontColor: #01203a;


.board {
  display: flex; 
  overflow-x: auto; 
  overflow-y: hidden; 
  align-items: center;
  width: 85%;
  background: rgba(255, 255, 255, 0.18);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(6.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: #8F3979; 
    border-radius: 10px;
  }

  div {
    gap: 1rem;
  }

  .addColunm {
    display: flex; 
    padding: 1rem; 
    gap: 0.5rem; 
    border-radius: 0.5rem; 
    border-width: 2px; 
    cursor: pointer; 
    height: 60px;
    width: 200px;
  }
}